<div class="row">

    <div class="col-xl-4">
        <!-- Profile picture card-->
        <div class="card mb-4 mb-xl-0">
            <div class="card-header">Profile Picture</div>
            <div class="card-body text-center">
                <!-- Profile picture image-->
                <img class="img-account-profile rounded-circle mb-2" src='{{logo.imageURL}}' alt="">
                <!-- Profile picture help block-->
                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 10 MB</div>
                <!-- Profile picture upload button-->
                <input type="file" (change)="onFileSelected($event)" class="form-control mb-2" />
                <button class="btn btn-primary" type="button" (click)="updateLogo()">Upload new image</button>
            </div>
        </div>
    </div>

    <div class="col-xl-8">
        <!-- Account details card-->
        <div class="card mb-4">
            <div class="card-header">Account Details</div>
            <div class="card-body">
                <form [formGroup]="userForm">
                    <!-- Form Group (matricule)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="matricule">Matricule</label>
                        <input class="form-control" id="matricule" type="text" formControlName="matricule">
                    </div>
                    <!-- Form Group (username)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputUsername">Full Name</label>
                        <input class="form-control" id="inputUsername" type="text" placeholder="Enter your Full Name" formControlName="nom">
                    </div>
                    <!-- Form Group (email address)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputEmailAddress">Email address</label>
                        <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" formControlName="email">
                    </div>  
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (phone number)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputPhone">Phone number</label>
                            <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" formControlName="phone">
                        </div>
                        <!-- Form Group (birthday)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputBirthday">Address</label>
                            <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your address" formControlName="adresse">
                        </div>
                    </div>
                    <!-- Save changes button-->
                    <button class="btn btn-primary" type="button" (click)="editProfile()">Save changes</button>
                </form>
            </div>
        </div>
    </div>
    
</div>
<p-toast></p-toast>