<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/facturaLogo.jpg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">                
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Welcome, Entreprise!</div>
                    <span class="text-600 font-medium">Write your "Email" to continue</span>
                </div>

                <form [formGroup]="forgotPwdForm">
                    <!-- Email -->
                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                    <input id="email1" type="email" placeholder="example@example.com" formControlName="email" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem" required>
                    
                    <!-- btn back to login -->
                    <div class="flex justify-content-center mb-5">
                        <a class="font-medium no-underline text-center cursor-pointer" style="color: var(--primary-color)" [routerLink]="['/auth/login']">back</a>
                    </div>
                    
                    <button pButton pRipple label="Send Email" class="w-full p-3 text-xl" [disabled]="forgotPwdForm.invalid" (click)="forgot()"></button>
                </form>
            </div>
        </div>
    </div>
</div>